---
import Layout from "../../layouts/Layout.astro"
import { getPokemon } from "../../api/pokemon"

const pokemons = await Promise.all(
  Array.from({ length: 10 }, (_, i) => i + 1).map(async (id) => {
    return await getPokemon(id.toString())
  }),
)
---

<Layout />
<h1>SSG index</h1>
<ul>
  {
    pokemons.map((pokemon) => (
      <li>
        <a href={`pokemons-ssg/${pokemon.id}`}>{pokemon.name}</a>
      </li>
    ))
  }
</ul>
