---
import Layout from "../../layouts/Layout.astro";
import { getPokemon } from "../../api/pokemon";

const pokemon = await getPokemon(Astro.params.id);
---

<Layout>
  <h1>SSR</h1>
  <p>{pokemon.id}:{pokemon.name}</p>
</Layout>
